################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/heroLevels2.5.1
